<!-- views/partials/header.ejs -->
<header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/assignments">Assignments</a></li>
        <!-- Add other navigation links here -->
      </ul>
    </nav>
  </header>
  