<!-- views/partials/header.ejs -->
<header>
    <nav>
      <ul>
        <li><a href="/"><img src="/images/ATLogo" alt="Assignment Tracker Logo" height="50"></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/assignments">Assignments</a></li>
        <!-- Add other navigation links here -->
      </ul>
    </nav>
  </header>
  