<div class="about-section"> 
    <img src="/images/me.JPG" alt="Mujtaba Hussaini" class="profile-photo">
    <h2>About Me</h2>
    <p>Hello! My name is Mujtaba Hussaini. I am a passionate web developer with a knack for creating intuitive and user-friendly websites. I've always been captivated by the magic of the web, and I am constantly striving to learn and evolve in the dynamic world of technology. When I'm not coding, you'll find me hiking, reading, or exploring new cafes in town.</p>
    
    <!-- Video container with controls. Uses a poster image until played -->
    <section class="video-container"> 
        <video width="320" height="240" controls muted poster="/images/Mo.jpg">
            <source src="/videos/Aboutme.mp4" type="video/mp4">
            <!-- Displayed if the browser doesn't support the video tag -->
            Your browser does not support the video tag.
        </video>
    </section>
</div>
