<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>There was an error processing your request</h1>
    <p><%= message %></p>
    <p><%= error.status %></p>
    <pre><%= error.stack %></pre>
</body>
</html>
