<section class="projects-section">
    <article class="project-card">
        <h2>Guess The Letter Game</h2>
        <p>This interactive Python game engages players in a fun letter-guessing challenge. The aim is to guess the letters of a hidden word within a specified number of attempts. The player can opt for words of different lengths (4 to 5 letters) and can exit the game at any stage. For each incorrect guess, the player is provided feedback, including a list of previously guessed letters. The game gracefully handles different user inputs, ensuring an intuitive gaming experience.</p>
        <div class="project-tech">
            <span>Python</span>
        </div>
        <div class="project-links">
            <a href="https://github.com/2003Mujtaba/WScode">Source Code</a>
        </div>
    </article>
</section>
