* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #3d7163;
    color: #333;
    font-size: 18px; 
}

.main-container {
    max-width: 1200px; 
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(250, 249, 249, 0.799);
}

.header {
    padding: 0 5%;
    border-bottom: 2px solid #e0e0e0;
    text-align: center;
}

h1 {
    color: #444;
    font-size: 28px; 
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(60deg, rgb(168, 10, 10), rgb(208, 234, 56), rgb(33, 169, 33));
    margin-top: 20px;
    padding: 0 5%; 
}

.initials {
    font-size: 26px; 
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 20px; 
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 12px 18px; 
}

.profile-photo {
    width: 200px; 
}

.about-section h2 {
    font-size: 26px; 
}

.about-section p {
    font-size: 19px; 
}

.video-container video {
    max-width: 85%; 
}


.project-card {
    max-width: 320px; 
}

.project-card h2 {
    font-size: 26px; 
}

.project-card p {
    font-size: 16px; 
}

.contact-container {
    max-width: 600px; 
}

.footer-section a {
    font-size: 18px; 
}
